In [3]:
print("Hello World")

Hello World

In [1]:
#Hello Python Comment
print("Hello World")

Hello World

In [3]:
"""This is 
a multiple
line comment"""

print("Multiline Comment above")

Multiline Comment above

In [23]:
 a = " Hello World "
print(a.upper())

 HELLO WORLD

In [18]:
print(a.strip())  #The strip() method removes any whitespace from the beginning or the end

Hello World

In [19]:
print (a.replace("H","J"))

 Jello World

In [29]:
 a = "Hello, World, Python"
print(a.split(","))

['Hello', ' World', ' Python']

In [34]:
b= a.split(",")[0]
print(b)

Hello

In [33]:
b= a.split(",")[1]
print(b)

 World

In [35]:
#String Concatenation
#To concatenate, or combine, two strings you can use the + operator.

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [36]:
#String Format
#As we learned in the Python Variables chapter, we cannot combine strings and numbers like the example above
#But we can combine strings and numbers by using the format() method!
#The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

a= "The amswer is {}"
b= 23

print(a.format(b))

The amswer is 23

In [41]:
#The format() method takes unlimited number of arguments, and are placed into the respective placeholders
#You can use index numbers {0} to be sure the arguments are placed in the correct placeholders

state1='Lagos'
state2='Abia'
state3='Ogun'


arrange1 = "The states in alphabetical order are: {}, {}, {}"
#Note the difference in the result when we use the index numbers below
arrange2 = "The states in alphabetical order are: {1}, {0}, {2}"


print(arrange1.format(state1,state2,state3))
print(arrange2.format(state1,state2,state3))

The states in alphabetical order are: Lagos, Abia, Ogun
The states in alphabetical order are: Abia, Lagos, Ogun

In [42]:
#Escape Character
#To insert characters that are illegal in a string, use an escape character.
#An escape character is a backslash \ followed by the character you want to insert.
#An example of an illegal character is a double quote inside a string that is surrounded by double quotes

print("Hello Mr. Ayo the so-called "Alayo" from West Africa")

SyntaxError: invalid syntax (Temp/ipykernel_12544/975473794.py, line 6)

In [43]:
print("Hello Mr. Ayo the so-called \"Alayo\" from West Africa")

Hello Mr. Ayo the so-called "Alayo" from West Africa

In [47]:
txt = "banana"

x = txt.center(20)

print(x)

       banana

In [48]:
x = txt.capitalize()
print (x)

Banana

In [50]:
x = txt.count("n")

print(x)

2

In [54]:
txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

In [58]:
txt = "Company12"

x = txt.isalnum()

print(x)

True

In [59]:
txt = "Compan\y12"

x = txt.isalnum()

print(x)

False

In [73]:
txt = "565543"

x = txt.isdigit()  #You get the same results for both isdigit and isnumeric

print(x)

True

In [75]:
txt = "Hello!\nAre you #1?"

x = txt.isprintable()

print(x)

False

In [76]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict)

print(x)

nameTESTcountry

In [77]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [82]:
txt = ",,,,,ssaaww.....banana"

x = txt.lstrip(",.asw")

print(x)

banana

In [84]:
# Some Values are False
#In fact, there are not many values that evaluate to False, 
#except empty values, such as (), [], {}, "", the number 0, 
#and the value None. And of course the value False evaluates to False.

print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

In [85]:
#One more value, or object in this case, evaluates to False, 
#and that is if you have an object that is made from a class 
#with a __len__ function that returns 0 or False:

class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [86]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [87]:
x = 200
print(isinstance(x, int))

True

In [89]:
#Try to understand this
x = 1

x |= 2

print(x)

3